.article {
  display: block;
  text-decoration: none;
  color: inherit;
  margin-bottom: 50px;

  &__wrapper {
    display: block;
    position: relative;
  }

  &__observer {
    padding: 0 30px;
    height: 25px;
    background: #bdbdbd;
  }

  &__timer {
    margin-left: 20px;
    color: #ff0000;
  }
}
